@import url(stats.css);
@import url(hero.css);
@import url(navbar.css);
@import url(variables.css);
@import url(responsive.css);
@import url(skills.css);
@import url(projects.css);
@import url(journey.css);
@import url(hire.css);
@import url(certificates.css);
*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}
/* Hide scrollbar for all browsers */
::-webkit-scrollbar {
    width: 0px;
    height: 0px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: transparent;
}

* {
    scrollbar-width: none; /* Firefox */
    -ms-overflow-style: none; /* IE and Edge */
}
html{
    scroll-behavior:smooth;
}

body{
    background:var(--bg);
    color:var(--white);
    font-family:'Inter',sans-serif;
    overflow-x:hidden;
}

img{

    width:100%;

    display:block;

}

a{

    text-decoration:none;

    color:inherit;

}

ul{

    list-style:none;

}

.container{

    width:min(92%,var(--container));

    margin:auto;

}

section{

    padding:120px 0;

}

h1,h2,h3{

    font-family:'Space Grotesk',sans-serif;

}

button{

    border:none;

    outline:none;

    cursor:pointer;

}

::selection{

    background:var(--primary);

    color:white;

}

.cursor-glow{

position:fixed;

width:350px;

height:350px;

background:radial-gradient(circle,
rgba(124,92,252,.25),
transparent 70%);

pointer-events:none;

border-radius:50%;

filter:blur(40px);

transform:translate(-50%,-50%);

z-index:-1;

transition:transform .08s linear;

}